In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv('data/train.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         10000 non-null  int64
 1   cost_of_ad                  10000 non-null  float64
 2   device_type                 10000 non-null  object
 3   gender                      9731 non-null   object
 4   in_initial_launch_location  10000 non-null  int64
 5   income                      10000 non-null  int64
 6   n_drivers                   10000 non-null  int64
 7   n_vehicles                  10000 non-null  int64
 8   prior_ins_tenure            10000 non-null  int64
 9   outcome                     10000 non-null  int64
dtypes: float64(1), int64(7), object(2)
memory usage: 781.4+ KB

In [4]:
data.dropna()

,age,cost_of_ad,device_type,gender,in_initial_launch_location,income,n_drivers,n_vehicles,prior_ins_tenure,outcome
0,56,0.005737,iPhone,M,0,62717,2,1,4,0
1,50,0.004733,desktop,F,0,64328,2,3,2,0
2,54,0.004129,laptop,M,0,83439,1,3,7,0
3,16,0.005117,Android,F,0,30110,2,3,0,0
4,37,0.003635,desktop,M,0,76565,2,1,5,0
...,...,...,...,...,...,...,...,...,...,...
9994,58,0.003941,Android,M,0,95916,1,1,18,0
9995,41,0.004225,desktop,M,0,64489,2,3,8,0
9996,50,0.004751,other,F,0,88643,1,3,0,0
9997,60,0.003804,other,M,0,87870,2,2,9,0
9998,18,0.003838,laptop,M,0,56468,2,2,0,0

In [5]:
df = data.copy()

In [6]:
df = pd.get_dummies(df, columns = ['gender', 'device_type'])

In [7]:
X = df.drop(['outcome'], axis = 1)

In [8]:
y = df['outcome']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =.2, random_state = 2)

In [10]:
gb_pipe = Pipeline([('scaler', StandardScaler()), ('classifier', GradientBoostingClassifier(n_estimators = 9, max_depth = 4))])
gb_grid_params = {}
gb_grid = GridSearchCV(gb_pipe, gb_grid_params, cv=KFold(10), scoring = 'roc_auc')
gb_grid.fit(X_train, y_train) 
print(" Testing Accuracy: {}".format(gb_grid.score(X_test, y_test)))

 Testing Accuracy: 0.8485271881360861

In [11]:
#using GradientBoostClassifier
gradbc = GradientBoostingClassifier(random_state=0)
gradbc.fit(X_train,y_train)
pred = gradbc.predict(X_test)
gradbc.score(X_test, y_test)

0.9135

In [12]:
roc_auc_score(y_test, pred)

0.5800668799069497

In [13]:
lr = LogisticRegression(random_state =0, max_iter = 10000).fit(X_train, y_train)
lr_pred = lr.predict(X_test)

In [14]:
roc_auc_score(y_test, lr_pred)

0.5

In [15]:
y.unique()

array([0, 1])

In [16]:
rf = RandomForestClassifier(random_state = 0)
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)

In [17]:
roc_auc_score(y_test, rf_pred)

0.6054230881070078